/* 1. секция header */
/* 2. секция top */
/* 3. секция advantages */
/* 4. секция link */
/* 5. секция popularity */
/* 6. секция hisrory */
/* 7. секция quote  */


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  color: #303030;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;

} 

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
.container-fluid {
  margin: 0 auto;
  max-width: 1720px;overflow: hidden;
}

/* 1. секция header =========================================================================================
============================================================================================================= */
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 105px;
}
.header__text {
  margin-right: auto;
  margin-left: 30px;
  color: #9a9a9a;
  font-size: 16px;
  font-weight: 400;
  
}
.header__phone  {
  font-size: 20px;
  font-weight: 500;
}
.header__phone a {
  position: relative;
  text-decoration: none;
  color: #303030;
}
.header__phone a::before {
  position: absolute;
  top: 50%;
  left: -27px;
  width: 15px;
  height: 15px;
  background-image: url(../img/phone.svg);
  transform: translateY(-50%);
  content: '';

}
.header__phone-text {
  color: #9a9a9a;
  font-size: 12px;
  font-weight: 400;
}
.header__phone-text {
  padding-top: 3px;
  text-align: right;
}
/* 2. секция top ===========================================================================================
============================================================================================================ */
.header__inner {

}
.top {
}
.top__images {
  margin: 0 auto;
  max-width: 1720px;
  min-height: 544px;
  background-image: url(../img/top-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.top__wrapper {
  margin-top: -450px;
}
.container {
}
.top__inner {
  display: flex;
  justify-content: space-between;

}
.top__inner-img {
  margin-left: 125px;
}
.top__inner-form {
  width: 100%;
  max-width: 570px;
  padding-top: 80px;
}
.top__inner-suptitle {
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
}
.top__inner-title {
  margin-bottom: 40px;
  margin-left: -4px;
  color: #ffffff;
  font-size: 60px;
  font-weight: 500;
}
.top__inner-text {
   margin-bottom: 100px;
   color: #ffffff;
   font-size: 18px;
}
.top-form {
  min-width: 530px;
  background-color: #fff;
  padding: 20px;

}
.top-form form {
  border: 1px solid #a4c58c;
}
.top-form__inner {
  position: relative;
  padding: 50px 50px 120px 50px;
}
.top-form__inner input{
  opacity: 0.6;
  width: 195px;
  height: 1px;
  outline: none;
  border: none;
  border-bottom: 1px solid #abc490;
  padding-top: 14px;
  padding-bottom: 14px;
}
.top-form input + input {
  margin-left: 25px;
}
.top-form__inner input::placeholder {
  color: #a8c48c;
  font-size: 14px;
  font-weight: 400;
}
.top-form__title {
  margin-bottom: 50px;
  width: 185px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.7px;
  color: #303030;
  font-size: 14px;
  font-weight: 700;
}
.form__btn {
  position: relative;
  border: none;
  background-color: #7eb252;
  padding: 22px 110px 22px 70px;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.7px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.top-form button {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 22px 110px 22px 70px;
}
.form__btn::after {
  position: absolute;
  top: 50%;
  right: 60px;
  width: 31px;
  height: 9px;
  background-image: url(../img/arrow-right.png);
  transform: translateY(-50%);
  content: '';
  
}

/* 3. секция advantages ===========================================================================================
============================================================================================================ */
.advantages {
  padding-bottom: 100px;
}
.advantages__inner {
  display: flex;
  justify-content: space-around;
}
.advantages__item {
  position: relative;
  width: 240px;
  padding-top: 35px;
  padding-left: 40px;
}
.advantages__item::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border: 5px solid rgba(126, 178, 82, 0.5);
  border-radius: 50%;
  content: '';

 
}
.advantages__item-number {
  display: inline-block;
  margin-bottom: 30px;
  border-bottom:3px solid #a4c58c;
  line-height: 24px;
  color: #a4c58c;
  font-size: 18px;
  font-weight: 600;
}
.advantages__item-number span {
  font-size: 30px;
}
.advantages__item-text {
  line-height: 24px;
}

/* 4. секция link ===========================================================================================
============================================================================================================ */

.list {
  position: relative;
  margin-right: 5px;
  margin-left: 5px;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-left: 15px;
}

.list__title {
  margin-bottom: 30px;
  max-width: 470px;
  background-color: #fff;
  line-height: 50px;
  font-size: 40px;
  font-weight: 700;
}

.tabs__content {
  position: relative;
  margin-top: -170px;
  min-width: 500px;
  height: 689px;
  background-image: url(../img/list-images.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list__inner {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #f6f9f3;
  padding-bottom: 30px;
}
.list__inner::before,
.list__inner::after {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f9f3;
  content: '';
  
}
.list__inner::before {
  right: 100%;
}
.list__inner::after {
  left: 100%;

}
.tab {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #eaf1e3;
  padding: 24px 40px 24px 0;
  cursor: pointer;
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.7px;
  font-size: 14px;
  font-weight: 600;
  
}
.tab.active {
  position: relative;
}
.tab.active::after {
  position: absolute;
  right: 25px;
  width: 8px;
  height: 13px;
  background-image: url(../img/shevron.svg);
  content: '';

}
.tab span {
  margin-right: 18px;
  color: #a4c58c;
}

.tabs {
  width: 100%;
  padding-right: 20px;
}
.tab-item {
  display: none;
  position: absolute;
  width: 44px;
  height: 44px;
  border: 9px solid rgba(255, 255, 255,0.8);
  border-radius: 50%;
  background: #a5c98a;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  letter-spacing: 0.6px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
}
.tab-item:first-child {
  display: block;
}

.item-1 {
  top: 190px;
  left: 148px;
}

.item-2 {
  top: 190px;
  left: 300px;
}

.item-3 {
  top: 70px;
  left: 230px;
}

.item-4 {
  top: 484px;
  left: 228px;
}

.item-5 {
  top: 15px;
  left: 228px;
}

.item-6 {
 top: 367px;
 left: 196px;
}

.item-7 {
  top: 124px;
  left: 229px;
}

.item-8 {
  top: 202px;
  left: 228px;
} 

.item-9 {
  top: 130px;
  left: 247px;
}
.tab-box {
  display: flex;
  flex-wrap: wrap;
}
.tab-box .tab {
  display: flex;
  align-items: center;
  width: 50%;
  text-transform: none;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}
.tab-box span {
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 0.6px;
  color: #a4c58c;
  font-size: 12px;
  font-weight: 400;
}
.tab-box .tab:first-child,
.tab-box .tab:nth-child(3)
 {
  border-right: 1px solid #eaf1e3;
  padding-right: 25px;
}
.tab-box .tab:last-child,
.tab-box .tab:nth-child(2) {
  padding-left: 25px;
}

.tab-box .tab.active::after {
  display: none;
}

.tabs__content-rewiews {

}
.tabs__rewiews {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #f6f9f3;
  padding: 20px;
  padding-bottom: 0;
  line-height: 24px;
}
.tabs__rewiews-inner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 375px;
  background-color: #f6f9f3;
  padding: 20px;
  padding-bottom: 0;

}
.tabs__rewiews-text {
  max-width: 375px;
  border: 1px solid rgba(164, 197, 140, 0.6);
  
  background-color: #f6f9f3;
  padding: 38px 27px 38px 51px;
}
.tabs__rewiews-link {
  position: absolute;
  bottom: -5px;
  left: 65px;
  background-color: #f6f9f3;
  padding-right: 8px;
  padding-left: 8px;
  color: #7eb252;
  font-size: 14px;
  font-weight: 600;
}
.list__link {
  display: flex;
  justify-content: flex-end;
}
.list__link a {
  position: absolute;
  bottom: -90px;
  min-width: 500px;
  border: none;
  background-color: #7eb252;
  padding: 22px 110px 22px 70px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 22px;
  letter-spacing: 0.7px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  
}
.list__link a::after {
  position: absolute;
  top: 50%;
  right: 100px;
  width: 31px;
  height: 9px;
  background-image: url(../img/arrow-right.png);
  transform: translateY(-50%);
  content: '';
  
}

/* 5. секция popularity ===========================================================================================
============================================================================================================ */
.popularity {
  padding-top: 200px;
}

.popularity__wrapper {
  min-height: 645px;
  background-image: url(../img/popularity.jpg);
  background-repeat: no-repeat;
}

.popularity__inner {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.popularity__box {
  margin-right: 50px;
  margin-bottom: -90px;
  width: 601px;
  height: 251px;
  background-color: #fff;
  padding: 20px;
 
}
.popularity__box-text {
  border: 1px solid #a4c58c;
  padding: 39px 73px 39px 39px;
  line-height: 24px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
}
.popularity__box-link  {
    display: block;
    position: relative;
    min-width: 560px;
    border: none;
    background-color: #7eb252;
    padding: 27px 87px 27px 40px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 22px;
    letter-spacing: 0.7px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
}
.popularity__box-link::after {
    position: absolute;
    top: 50%;
    right: 40px;
    width: 31px;
    height: 9px;
    background-image: url(../img/arrow-right.png);
    transform: translateY(-50%);
    content: '';
}
.popularity__right {
  width: 100%;
  max-width: 500px;
  padding-top: 50px;
}
.popularity__right-title {
  line-height: 50px;
  font-size: 40px;
  font-weight: 700;
}
.popularity__right-subtitle {
  padding: 50px 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}
.popularity__right-list {
  list-style: none;
}
.popularity__right-list li{
  position: relative;
  margin-bottom: 45px;
  padding-left: 40px;
  cursor: pointer;
  list-style: none;
  line-height: 22px;

}
.popularity__right-list li::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 9px;
  height: 14px;
  background-image: url(../img/shevron.svg);
  background-repeat: no-repeat;
  transform: translateY(-50%);
  content: '';
}
/* 6. секция hisrory ===========================================================================================
============================================================================================================ */

.history {
  margin-bottom: 50px;
  padding-top: 270px;
}
.history__wrapper {
  min-height: 920px;
  background-image: url(../img/alonso.jpg);
  background-position: right center;
  background-repeat: no-repeat;
}
.history__inner {
}
.hisrory__title {
  max-width: 570px;
  padding: 90px 0 45px;
  line-height: 50px;
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 700;
}
.history__text {
  position: relative;
  max-width: 700px;
  background-color: #f6f9f3;
  padding: 55px 30px 55px 0;
  line-height: 24px;
}
.history__text::before {
  position: absolute;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  background-color: #f6f9f3;
  content: '';
}
.history__text p{
  margin: 10px 0;
}
.hisrory__form {
  margin-left: 200px;
  max-width: 400px;
  padding-left: 30px;

}
.hisrory__form-title {
  margin: 45px 0 30px;
  text-transform: uppercase;
  line-height: 22px;
  letter-spacing: 0.7px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
 
}
.hisrory__form input {
  display: block;
  height: 34px;
  outline: none;
  border: none;
  border-bottom: 1px solid #cddcbc;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
}
.hisrory__form input::placeholder {
  color: #a8c48c;
}
.hisrory__form button {
  width: 100%;
}

/* 7. секция quote ===========================================================================================
============================================================================================================ */

.quote {
  min-height: 620px;
  background-image: url(../img/quotebg-left.png);
  background-position: left center;
  background-repeat: no-repeat;
}
.quote__wrapper {
  min-height: 620px;
  background-image: url(../img/quotebg-right.png);
  background-position: right center;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 100px;
}


.quote__inner {
  margin: 0 auto;
  width: 780px;
  border-top: 3px solid #d1e2c5;
  border-bottom: 3px solid #d1e2c5;
  padding: 50px 0;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  font-weight: 700;
}
.author {
  margin-top: 30px;
  line-height: 30px;
  font-size: 18px;
  font-size: 18px;
  font-weight: 400;
}
.author span {
  color: #9a9a9a;
  font-size: 16px;
}

.items__title {
  max-width: 530px;
  padding: 100px 0;
  line-height: 50px;
  font-family: "Montserrat";
  font-size: 40px;
  font-weight: 700;
}
.items-wrapper {
  min-height: 385px;
  background-color: #f6f9f3;
}
.items__inner {
  display: flex;
  position: relative;
  top: -70px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1010px;
  background: #fff;
  padding: 20px;
  
}
.item {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 312px;
  min-height: 312px;
  border: 1px solid  #a4c58c;
}
.item__number {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  line-height: 115px;
  letter-spacing: 8px;
  color: #f7f9f3;
  font-size: 150px;
  font-weight: 900;
}
.item__content {
  text-align: center;
}
.item_content-img {
  position: relative;
  margin-bottom: 30px;
}
.item__content-title {
  text-transform: uppercase;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 700;
}

.composition {
  padding-top: 180px;
  padding-bottom: 100px;
}
.container {
}
.composition__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.composition__item {
  margin-bottom: 30px;
}
.composition__item-inner {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #f6f9f3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.composition__item-inner_1{
  background-image: url(../img/comp-1.png);
}
.composition__item-inner_2{
  background-image: url(../img/comp-2.png);
}
.composition__item-inner_3{
  background-image: url(../img/comp-3.png);
}
.composition__item-inner_4{
  background-image: url(../img/comp-4.png);
}
.composition__item-inner_5{
  background-image: url(../img/comp-5.png);
}
.composition__item-inner_6{
  background-image: url(../img/comp-7.png);
}
.composition__item-inner_7{
  background-image: url(../img/comp-8.png);
}
.composition__item-inner_8{
  background-image: url(../img/comp-9.png);
}
.composition__item-inner_9{
  background-image: url(../img/comp-1.png);
}



.composition__item-inner:hover .composition__item-effect {
  opacity: 1;
}
.composition__item-num, .composition__item-name {
  position: absolute;
  transform: rotate(-90deg);
  line-height: 24px;
  color: #a4c58c;
  font-size: 14px;
  font-weight: 700;
}
.composition__item-num {
  top: 20px;
  left: 4px;
}
.composition__item-name {
  right: 32px;
  bottom: 13px;
  width: 0;
  height: 0;
  white-space: nowrap;
  font-weight: 400;
}
.composition__item-effect {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-image: url(../img/comp-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s;


}
.composition__item-text {
  padding: 10px;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.composition__box {
  margin-top: -60px;
  max-width: 570px;
  padding-right: 50px;
  padding-left: 70px;
}
.composition__title {
  padding-bottom: 40px;
  line-height: 50px;
  font-size: 40px;
  font-weight: 700;
}
.composition__list {
  list-style: none;
  line-height: 22px;
}
.composition__list li {
  position: relative;
  padding-left: 23px;
}
.composition__list li::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #a4c58c;
  content: '';
}
.composition__list li {
  margin-bottom: 25px;
}

.composition__link {
  max-width: 830px;
  max-height: 250px;
  border: 1px solid #a4c58c;
  padding: 45px 95px 100px 50px;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
}
.composition__link-text {
  position: relative;
  line-height: 22px;
  padding-left: 25px;
}
.composition__link-text::before {
  position: absolute;
  top: 8px;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 4px;
  background-color: #a4c58c;
  content: '';
}
.composition__link-text p {
  margin-bottom: 15px;
}
.composition__link-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  text-decoration: none;;
}

